@font-face {
	font-family: 'Gilland';
	src: url('/fonts/Gilland-Regular.otf');
}

@font-face {
	font-family: 'Galey';
	src: url('/fonts/Prestigetype Studio - Galey Semi Bold.ttf');
}

@font-face {
	font-family: 'Blueberry Sans';
	src: url('/fonts/BlueberrySans-Bold.woff2');
}

h1,
h2,
h3 {
	@apply font-gilland;
}

body {
	@apply font-galey text-center;
}
